@model IEnumerable<PlacementManagement.Models.Program>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Available Programs</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success btn-sm">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Add Program
    </a>
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProgramName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProgramName)
        </td>
        <td>
            <a href=@Url.Action("Edit", new { id = item.ProgramId })
               class="btn btn-info btn-sm">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
            </a>
            <a href=@Url.Action("Delete", new { id = item.ProgramId })
               class="btn btn-danger btn-sm">
                <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
            </a>
        </td>
    </tr>
}

</table>
