@model IEnumerable<Mizza.DataModels.MizzaToppingsStyleSKU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
    
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ToppingStyleID</th>
        <th>ToppingSKUID</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ToppingStyleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToppingSKUID)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ToppingStyleID })
        </td>
    </tr>
}

</table>
