@{
    ViewBag.Title = "Home";
}

<h2 class="text-center">Welcome to Placement Management API !</h2>
<div style="display: flex; justify-content: center">
    <a href="/swagger/ui/index" class="btn btn-primary">See Documentation</a>
</div>
